# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfstate
terraform.tfstate.backup

# Python
__pycache__/
*.pyc
*.pyo
.env

# AWS credentials
.aws/
credentials

# Zip files
*.zip
*.tfstate*
.terraform/

# Ignore build artifacts
build/out.json
response.json
