# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
.env

# AWS credentials
.aws/
credentials

# Zip files
*.zip
*.tfstate*
.terraform/
.terraform.lock.hcl
